/* selector pe taguri prin fisierul .css extern */
div{
    background-color: crimson;
}
div p{
    color: darkcyan;
}
span h2 {
    color: lightpink;
}
div ul, li{
    background-color: darkolivegreen;
    color: black;
}
div ol{
    background-color: springgreen;
}
header{
    color: aquamarine;
}